.nav-link{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px !important;
    padding: 10px 20px !important;
}
body{
    font-family: 'Montserrat', sans-serif;
}
*{
    font-family: 'Montserrat', sans-serif;
}