.hrintro{
    width: 100px;
    height: 50px;
    border-top: 5px solid #C63D44;
}
.honorimg{
    height: 5cm;
    width:5cm;
    margin-bottom:2cm;
    margin-top: 1cm;
}
.africanimg{
    height: 2cm;
    width: 3cm;
    margin-bottom:2cm;
    margin-top: 1cm;
}

@media (max-width: 575px) { 
    ul{
        display: flex;
        list-style: none;
        flex-direction: row;
        padding-left: 0px;
    }
    li{
        list-style: none;
        margin-left: 0px;
    }

}

 
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) {
    ul{
        display: flex;
        list-style: none;
        flex-direction: row;
        padding-left: 0px;
    }
    li{
        list-style: none;
        margin-left: 0px;
    }
}
 

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {
    ul{
        display: flex;
        list-style: none;
        flex-direction: row;
    }
    li{
        list-style: none;
        margin-left: 20px;
    }
 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) { 
    ul{
        display: flex;
        list-style: none;
        flex-direction: row;
    }
    li{
        list-style: none;
        margin-left: 20px;
    }
  }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    ul{
        display: flex;
        list-style: none;
        flex-direction: row;
    }
    li{
        list-style: none;
        margin-left: 20px;
    } 
   }