.hrintro{
    width: 100px;
    height: 50px;
    border-top: 5px solid #C63D44;
}
.honorimg{
    height: 5cm;
    width:5cm;
    margin-bottom:2cm;
    margin-top: 1cm;
}
.africanimg{
    height: 2cm;
    width: 3cm;
    margin-bottom:2cm;
    margin-top: 1cm;
}
ul{
    display: flex;
    list-style: none;
    flex-direction: row;
}
li{
    list-style: none;
    margin-left: 20px;
}