@media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
  }
  body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
  }
  
  .bgimg-1, .bgimg-2, .bgimg-3 {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  }
  .bgimg-1 {
    background-image: url("./images/mkj.png");
    min-height: 100%;
  }
  
  .bgimg-2 {
    background-image: url("./images/athletes-ball-basketball-945471.jpg");
    min-height: 400px;
  }
  
  .bgimg-3 {
      background-image: url('https://images.pexels.com/photos/1171084/pexels-photo-1171084.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
      min-height: 400px;
  }
  
  .caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
  }
  
  .caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
  }
  
  h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
  }
  
  /* Turn off parallax scrolling for tablets and phones */
  @media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
      background-attachment: scroll;
    }
  }
  .stepper-vertical li:not(:last-child):after {
    content: "";
    position: absolute;
    width: 1px;
    height: -webkit-calc(100% - 40px);
    height: calc(100% - 40px);
    left: 50% !important;
    top: 3.44rem;
    background-color: rgba(0,0,0,.1);
}
      body > div.card.card-cascade.wider.reverse > div.view.view-cascade.overlay > div > div > h2{
          margin-top: -1.5rem !important;
      }
      body > div.card.card-cascade.wider.reverse > div.card-body.card-body-cascade.text-center > div.jumbotron.text-center.hoverable.p-4 > div > div.col-md-7.text-md-left.ml-3.mt-3 > h4{
        font-size: 36px;
    line-height: 36px;
    letter-spacing: -1px;
    color: #000000;
    margin-bottom: 21px;
      }
      body > div.card.card-cascade.wider.reverse > div.card-body.card-body-cascade.text-center > div.jumbotron.text-center.hoverable.p-4 > div > div.col-md-7.text-md-left.ml-3.mt-3 > p{
        font-size: 22px;
      }
      body > div.card.card-cascade.wider.reverse > div.card-body.card-body-cascade.text-center > div.jumbotron.text-center.hoverable.p-4 > div > div.col-md-7.text-md-left.ml-3.mt-3 > a{
          font-size: 18px;
          background-color: #0076b3;
      }
      .maindiv{
        background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);background-size: cover;
      }

    .list-group-item{
        border: none !important;
    }
    .list-group-item.active {
        z-index: 2;
        color: blue !important; 
        border-left: 1px solid blue !important;
        background-color: white !important; 
    
    }
    /*styletimeline*/
    .nav-link{
        padding: 15px 40px !important;
    }